<html>
<head>
<style>
table{ border-collapse:collapse; }
td{ border:#ccc solid 1px; padding:5px; }
</style>
</head>
<body>
	<form action="{% url 'generateLift' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<table>
			<tr><td>Input Data Source:</td><td><input type="text" name="input_ds" size="40"></td></tr>
			<tr><td>Training Target Variable:</td><td><input type="text" name="target" size="40"></td></tr>
		</table>
		<br>
		Please select models:
		<table border="0" cellspacing="0" cellpadding="0">
			{% for model in models %}
				<tr>
				 <td><input type="checkbox" name="model_list[]" value="{{ model.0 }}"></td><td>{{ model.1 }}</td>
				</tr>
			{% endfor %}
		</table>
		<br>
		<span><input type="submit" name="submit" value="Create"></span>
	</form>
</body>
</html>