<html>
<head>
<style type="text/css">
table
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-right: auto;
    margin-left: true;
    width: 400px;
 }
 th, td
 {
    border: 1px solid #b5d6e6;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    height: 30px;
 }
 th
 {
    background-color: #D8E7FA;
 }
</style>
</head>
<body>
<form action="{% url 'modify' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div>
<table border="0">
	<tr align="center"><th><b>Input Variables</b></th><th><b>Type</b></th></tr>
	{% for input in inputVars %}
	  <tr>
		<td>{{ input.0 }}</td><td>{{ input.1 }}</td>
	  </tr>
	{% endfor %}		
</table>
</div>
<div>
<table border="0">
	<tr align="center"><th><b>Output Variables</b></th><th><b>Type</b></th></tr>
	{% for output in outputVars %}
	  <tr>
		<td>{{ output.0 }}</td><td>{{ output.1 }}</td>
	  </tr>
	{% endfor %}
</table>
</div>
<div>
<table>
	<tr align="center"><th><b>Output Event Probability</b></th></tr>
	<tr><td>
		<select name="output_event_var">
			{% for var in outputEventVars %}
				{% if prob_var == var %}
					<option value="{{ var }}" selected>{{ var }}</option>
				{% else %}
					<option value="{{ var }}">{{ var }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</td></tr>
	<tr align="center"><td><input type="submit" name="submit" value="Save"></td></tr>
</table>
</div>	
	<input type="hidden" name="modelId" value="{{ model_id }}">
	<input type="hidden" name="prob_var" value="{{ prob_var }}">
</form>
</body>
</html>