<html>
<head>
<style type="text/css">
table
{
    border-collapse: collapse;
    border-spacing: 0;
    margin-right: auto;
    margin-left: true;
    width: 600px;
 }
 th, td
 {
    border: 1px solid #b5d6e6;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    height: 30px;
 }
 th
 {
    background-color: #D8E7FA;
 }
</style>
</head>
<body>
<form action="{% url 'execute' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<input type="hidden" name="in_table" value="{{ in_table_path }}">
	<input type="hidden" name="out_table" value="{{ out_table_path }}">
	<input type="hidden" name="model_id" value="{{ model_id }}">
	<table>
		<thead>
			<tr style="font-weight:bold;">
				<th>Output Variables</th><th>Model Variables</th>
			</tr>
		</thead>
		{% for pair in initial_mapping %}
			<tr>
				<td>{{ pair.0 }}<input type="hidden" name="output_var_{{ forloop.counter }}" value="{{ pair.0 }}"></td>
				<td>
					<select name="map_var_{{ forloop.counter }}">
						{% for var in target_vars %}
							{% if pair.1 == var %}
								<option value="{{ var }}" selected>{{ var }}</option>
							{% else %}
								<option value="{{ var }}">{{ var }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
			</tr>
		{% endfor %}
	</table>
	<br>
	<input type="hidden" name="pairs_num" value="{{ initial_mapping|length }}">
	<input type="submit" name="submit" value="Run Score">
</form>
</body>
</html>